.contacts__offer {
    background: #363336;
    color: #fff;
    padding: 120px 0;
    text-align: center;
}

.contacts__subtitle {
    max-width: 500px;
    margin: 16px auto 32px;
}

.contacts {
    text-align: center;
    margin: 120px 0;
}

.contacts__form-wrapper {
    margin-top: 80px;
}

.contacts__form-input {
    border-color: #000;
}